<div class="row container mt-4">
    
    <div class="col-3">
        <h2>Busquedas</h2>
        <hr>
        <ul class="list-group">

            <!-- rutas de angular 
            1) routerLinkActiveOptions es necesario por el pathMatch full
            2) routerLinkActive="active" es para que brille al dar click
            3) routerLink="region" tiene que cuadrar con el path
            -->
            <li routerLink=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"  
                class="list-group-item">Buscar pais</li> 

            <li routerLink="region"
                routerLinkActive="active"
                class="list-group-item">Por region</li>

            <li routerLink="capital"
                routerLinkActive="active"
                class="list-group-item"> Por capital</li>
        </ul>
    </div>

    <!-- rutas de angular -->
    <div class="col">
        <router-outlet></router-outlet>
    </div>

</div>